uploads/

# Byte-compiled and cache files
__pycache__/
*.pyc
*.py[cod]
*.so

# Virtual environment directory
venv/
.env/
.envrc
*.venv
Pipfile
Pipfile.lock
setup.py
pyproject.toml

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs and local database files
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# pytest and coverage reports
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
htmlcov/

# Docker & Deployment
.dockerignore
*.env
docker-compose.override.yml

# Node.js dependency cache (if using frontend)
node_modules/

# Ignore compiled Cython files
*.c
*.so
*.o
*.h

# Ignore temporary files and backups
*.bak
*.swp
*.swo
*.tmp
settings/

syntaxmatrixdir/
README_SyntaxMatrix_Client.md